@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 198, 80%, 69%;
}

body {
  font-size: 14px;
  color: #e5e5e5;
  background-color: #25293c;
  overflow-x: hidden;
  font-family: "__Inter_a64ecd", "__Inter_Fallback_a64ecd", ui-sans-serif,
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-primary {
  color: hsl(var(--primary));
}

.btn {
  padding: 10px 24px;
  border-radius: 6px;
}

.btn-primary {
  background-color: hsl(var(--primary));
  /* color: #171717; */
}

.box-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
